<div class="sidebar">
  <h2 class="logo">
    <mat-icon>layers</mat-icon>
    TaskMinder.
  </h2>

  <nav>
    <a>
      <mat-icon>dashboard</mat-icon>
      Dashboard
    </a>

    <a>
      <mat-icon>folder</mat-icon>
      Projects
    </a>

    <a class="active">
      <mat-icon>checklist</mat-icon>
      Tasks
    </a>

    <a>
      <mat-icon>calendar_today</mat-icon>
      Calendar
    </a>
  </nav>

  <button mat-button class="logout">
    <mat-icon>logout</mat-icon>
    Log out
  </button>
</div>